/*-- scss:defaults  --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// fonts
$libre: "Libre Baskerville", serif;


// colors 
$deeptealgrey: #5A6E6E;
$stormyblue: #8BA0A5;
$bluegray: #B8C6C8;
$mistgray: #E5ECEC;
$purewhite: #FFFFFF;
$accentblue: #3A6F8F; // for links & emphasis
// define quarto variables
//$body-bg: $mistgray;
//$navbar-bg: $stormyblue;
//$navbar-fg: $mistgray;
//$navbar-hl: $stormyblue;
//$link-color: $deeptealgrey;

// Base
$body-bg: $mistgray;
$body-color: $deeptealgrey;

// Navbar
$navbar-bg: $stormyblue;
$navbar-fg: $purewhite;
$navbar-hl: $deeptealgrey;

// Links
$link-color: $accentblue;
$link-hover-color: darken($accentblue, 10%);

// Headings
$headings-color: #2F4F4F;

// Code blocks
$code-bg: lighten($mistgray, 3%);
$code-color: #2C3E3E;

.card {
  background-color: $purewhite;
  border: 1px solid $bluegray;
}
figcaption {
  color: darken($deeptealgrey, 10%);
}










/*-- scss:rules --*/

h3, h4, p {
  font-family: $libre;
}

h1, h2 {
  letter-spacing: 1px;
  font-weight: 600;

}

//.title {
  //color: $deeptealgrey;
//}

.center-text {
  text-align: center;
}

.navbar-brand img{
  max-height: 70px;
  width: auto;
}

.grey-text {
  color: $deeptealgrey;
}

.corner-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  pointer-events: none;
}

/* R */
.r-logo {
  top: 50%;
  right: -55px;
  transform: translateY(-50%);
  background-image: url("images/r-logo.png");
}

/* Python */
.python-logo {
  top: 50%;
  right: -105px;
  transform: translateY(-50%);
  background-image: url("images/python-logo.png");
}

/* SQL */
.sql-logo {
  top: 50%;
  right: -155px;
  transform: translateY(-50%);
  background-image: url("images/sql-logo.png");
}



/* Upper-right: ML */
.machine-learning {
  top: 15px;
  left: 260px;
  background-image: url("images/machine-learning.png");
}



/* Lower-right: Earth */
.earth-logo {
  top: -75px;
  left: 200px;
  background-image: url("images/earth-logo.png");
}

/* Lower-left: GHG */
.ghg-emissions {
  bottom: 100px;
  left: 115px;
  background-image: url("images/ghg-emissions.png");
}



/* Side-by-side layout for marquee */
.quarto-about-marquee {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3rem;
  align-items: center;
}

/* Text block */
.marquee-text-right {
  max-width: 600px;
}


@media (max-width: 768px) {
  .corner-logo {
    display: none;
  }
}



