/*-- scss:defaults  --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// fonts
$libre: "Libre Baskerville", serif;


// colors 
$deeptealgrey: #5A6E6E;
$stormyblue: #8BA0A5;
$bluegray: #B8C6C8;
$mistgray: #E5ECEC;
$purewhite: #FFFFFF;
$accentblue: #3A6F8F; // for links & emphasis
// define quarto variables
//$body-bg: $mistgray;
//$navbar-bg: $stormyblue;
//$navbar-fg: $mistgray;
//$navbar-hl: $stormyblue;
//$link-color: $deeptealgrey;

// Base
$body-bg: $mistgray;
$body-color: $deeptealgrey;

// Navbar
$navbar-bg: $stormyblue;
$navbar-fg: $purewhite;
$navbar-hl: $deeptealgrey;

// Links
$link-color: $accentblue;
$link-hover-color: darken($accentblue, 10%);

// Headings
$headings-color: #2F4F4F;

// Code blocks
$code-bg: lighten($mistgray, 3%);
$code-color: #2C3E3E;

.card {
  background-color: $purewhite;
  border: 1px solid $bluegray;
}
figcaption {
  color: darken($deeptealgrey, 10%);
}










/*-- scss:rules --*/

h3, h4, p {
  font-family: $libre;
}

h1, h2 {
  letter-spacing: 1px;
  font-weight: 600;

}

//.title {
  //color: $deeptealgrey;
//}

.center-text {
  text-align: center;
}

.navbar-brand img{
  max-height: 70px;
  width: auto;
}

.grey-text {
  color: $deeptealgrey;
}

.corner-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  pointer-events: none;
}

/* R */
.r-logo {
  top: 37px;
  left: 110px;
  transform: translateY(-50%);
  background-image: url("images/r-logo.png");
}

/* Python */
.python-logo {
  top: 37px;
  left: 163px;
  transform: translateY(-50%);
  background-image: url("images/python-logo.png");
}

/* SQL */
.sql-logo {
  top: 37px;
  left: 210px;
  transform: translateY(-50%);
  background-image: url("images/sql-logo.png");
}



/* Upper-right: ML */
.machine-learning {
  top: 120px;
  left: 260px;
  background-image: url("images/machine-learning.png");
}



/* Lower-right: Earth */
//.earth-logo {
 // top: -75px;
//  left: 200px;
//  background-image: url("images/earth-logo.png");
//}

/* Lower-left: GHG */
.ghg-emissions {
  bottom: 100px;
  left: 115px;
  background-image: url("images/ghg-emissions.png");
}



/* Side-by-side layout for marquee */
.quarto-about-marquee {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3rem;
  align-items: center;
}

.typing {
  white-space: nowrap;              
  overflow: hidden;                 
  width: 0;                         
  border-right: 2px solid black;    /* cursor */
  display: inline-flex;
  align-items: center;
  animation: typing 3s steps(12, end) forwards, blink 0.75s step-end infinite;
}

.earth-logo {
  width: 1em;                       
  height: 1em;
  margin-left: 0.25em;
  opacity: 0;                        /* hide until typing finishes */
  animation: fadeIn 0.5s forwards;
  animation-delay: 3s;               /* matches typing duration */
}

@keyframes typing {
  from { width: 0 }
  to { width: 12ch }                  /* number of characters in text */
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}


/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Apply fade-in to text block */
.marquee-text-right {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s; /* adjust to start after heading types */
}

/* Apply fade-in to icons */
.corner-logo {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s; /* same as text to fade in together */
}

/* Positioning for your icons */
.ghg-emissions {
  bottom: 90px;
  left: 115px;
  background-image: url("images/ghg-emissions.png");
  width: 50px;    /* adjust size */
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.machine-learning {
  top: 120px;
  left: 260px;
  background-image: url("images/machine-learning.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}






/* Text block */
.marquee-text-right {
  max-width: 600px;
}


@media (max-width: 768px) {
  .corner-logo {
    display: none;
  }
}



